<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <img src="https://syntonic.io/img/Syntonic-Logo.png" class="sidebar-logo">
<!--  <img src="{{ site.url }}/img/logo.png" class="sidebar-logo">-->
  <div class="sidebar-header">
    <p>Syntonic.io</p>
  </div>
  <div class="sidebar-subheader">
    <p>Developer Blog</p>
  </div>

  <nav class="sidebar-nav">
    <br>
    <span class="sidebar-nav-header">Blog</span>
    
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    
    <br>
    <span class="sidebar-nav-header">Our Stuff</span>
    <a class="sidebar-nav-item" href="{{ site.author.url }}/">About</a>
    <a class="sidebar-nav-item" href="{{ site.author.github }}/">Github</a>
    
    
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

<!--
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
-->

<!--
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
-->
  </nav>

<!--
  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
-->
</div>
